.userInformation {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoutMobile {
        display: none;
    }

    .userImg {
        padding: 3px;
        background: linear-gradient(100deg, #ff008e 0%, #ffcd1e 100%);
        border-radius: 50%;
        line-height: 0;

        img {
        width: 94px;
        height: 94px;
        border-radius: 50%;

        border: 3px solid #121214;
        }
    }

    .userName {
        font-size: 24px;
        line-height: 30px;
        margin-top: 16px;
    }

    .userGithub {
        display: flex;
        align-items: center;

        margin-top: 8px;
        color: #c4c4cc;

        gap: 8px;
    }

    @media screen and (max-width: 639px) {
        flex-direction: row;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;

        .logoutMobile {
            display: block;
            font-weight: bold;
        }
        
        .userImg {
            padding: 3px;
            background: linear-gradient(100deg, #ff008e 0%, #ffcd1e 100%);
            border-radius: 50%;
            line-height: 0;
            margin-left: 0.5rem;
    
            img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
    
            border: 3px solid #121214;
            }
        }

        .userGithub {
            display: none;
        }
    }
}